.Container {
  width: 100%;

  &--bgColor {
    &-orange {
      background-color: var(--bg-color-primary);
    }

    &-dark {
      background-color: var(--bg-color-secondary);
    }

    &-bright {
      background-color: var(--bg-color-third);
    }
  }
}
