// *** FONT POPPINS *** //
@font-face {
  font-family: 'Poppins';
  font-style: 'regular';
  font-weight: 400;
  src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: 'medium';
  font-weight: 500;
  src: url('fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: 'semiBold';
  font-weight: 600;
  src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: 'bold';
  font-weight: 700;
  src: url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

// *** FONT SQUADA ONE *** //
@font-face {
  font-family: 'Squada One';
  font-style: 'regular';
  font-weight: 400;
  src: url('fonts/SquadaOne/SquadaOne-Regular.ttf') format('truetype');
}
