@import 'fonts';
@import 'config';

@import '../app/**/*.scss';
@import '../partials/**/*.scss';
@import '../components/**/*.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  background-color: black;
}
