.Sections {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // scroll-snap-align: center;
  perspective: 500px;
  
  &__text {
    margin: 0;
    color: var(--color-darkgrey);
    top: -20px;
    left: -150px;
    // left: calc(10% - 150px);
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 50px;
    position: absolute;
    text-transform: uppercase;

    &::before {
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
      position: absolute;
      content: 'About';
      -webkit-text-stroke: 1.1px var(--bg-color-primary);
    }
  }
}
