.Sections {
  height: 100%;
  perspective: 500px;
  
  &__text {
    display: inline-block;
    // overflow: hidden;
    margin: 0;
    color: transparent;
    top: -20px;
    left: -100px;
    height: 100%;
    // left: calc(10% - 150px);
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 50px;
    position: absolute;
    text-transform: uppercase;
    white-space: nowrap;
    
    &::before {
      display: inline-block;
      // overflow: hidden;
      filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
      position: absolute;
      content: attr(data-before-content);
      -webkit-text-stroke: 1.1px var(--bg-color-primary);
      white-space: nowrap;
    }

    @include media("tablet") {
      left: -255px;
    }
  }
}
